.terminal-cursor {
  transition: 300ms;
  transition-property: background;
  line-height: 1.3em;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: #f4ead5;
  box-shadow: 0 0 .5 #f4ead5;
}

.terminal-cursor.reverse {
  background: transparent;
  box-shadow: none;
}
